{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap">
	    <div class="home-slider owl-carousel">
         {% for header in headers %}
	      <div class="slider-item" style="background-image:url({{ header.image.url }});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-center">
		          <div class="col-md-12 ftco-animate">
		          	<div class="text w-100 text-center">
		          		<h2>{{ header.description }}</h2>
			            <h1 class="mb-3">{{ header.title }}</h1>
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>
         {% endfor %}
	    </div>
	  </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row">
          <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
            <div class="media block-6 d-block text-center pt-md-4">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-hook"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Construction</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
            <div class="media block-6 d-block text-center pt-md-4">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-skyline"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">House Renovation</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
            <div class="media block-6 d-block text-center pt-md-4">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-stairs"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Painting</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
            <div class="media block-6 d-block text-center pt-md-4">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-home"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Architecture Design</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
        </div>
    		<div class="row no-gutters">
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer"></span>
	    				</div>
	    				<div class="text">
	      				<h3>Expert &amp; Professional</h3>
	      				<p class="mb-0">Separated they live in. A small river named Duden flows</p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer-1"></span>
	    				</div>
	    				<div class="text">
	      				<h3>High Quality Work</h3>
	      				<p class="mb-0">Separated they live in. A small river named Duden flows</p>
	      			</div>
	      		</div>
    			</div>
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer-2"></span>
	    				</div>
	    				<div class="text">
	      				<h3>24/7 Help Support</h3>
	      				<p class="mb-0">Separated they live in. A small river named Duden flows</p>
	      			</div>
	      		</div>
    			</div>
    		</div>
    	</div>
    </section>   

    <section class="ftco-section ftco-no-pt ftco-no-pb">
      
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex">
               {% for header in column %}
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url({{ header.image.url }});">
    					<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
    						<span class="icon-play"></span>
    					</a>
    				</div>
               {% endfor %}
    			</div>
            {% for setting in settings %}
    			<div class="col-md-6 pl-md-5">
    				<div class="row justify-content-start py-5">
		          <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
		          	<span class="subheading">Welcome to {{ setting.title }}</span>
		            <h2 class="mb-4">We create and turn into reality</h2>
		            <p>{{ setting.aboutheader }}</p>
		            <div class="tabulation-2 mt-4">
									<ul class="nav nav-pills nav-fill d-md-flex d-block">
									  <li class="nav-item mb-md-0 mb-2">
									    <a class="nav-link active py-2" data-toggle="tab" href="#home1">Our Mission</a>
									  </li>
									  <li class="nav-item px-lg-2 mb-md-0 mb-2">
									    <a class="nav-link py-2" data-toggle="tab" href="#home2">Our Vision</a>
									  </li>
									  <li class="nav-item">
									    <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Our Value</a>
									  </li>
									</ul>
									<div class="tab-content bg-light rounded mt-2">
									  <div class="tab-pane container p-0 active" id="home1">
									  	<p>{{ setting.mission }}</p>
									  </div>
									  <div class="tab-pane container p-0 fade" id="home2">
									  	<p>{{ setting.vision }}</p>
									  </div>
									  <div class="tab-pane container p-0 fade" id="home3">
									  	<p>{{ setting.values }}</p>
									  </div>
									</div>
								</div>
		          </div>
                {% endfor %}
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    {% for setting in settings %}
    <section class="ftco-counter" id="section-counter">
    	<div class="container">
				<div class="row">
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="{{ setting.years }}">0</strong>
              </div>
              <div class="text-2">
              	<span>Years of <br>Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="{{ setting.project }}">0</strong>
              </div>
              <div class="text-2">
              	<span>Project <br>Done</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="{{ setting.professionals }}">0</strong>
              </div>
              <div class="text-2">
              	<span>Professional <br>Expert</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 d-flex">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="{{ setting.machines }}">0</strong>
              </div>
              <div class="text-2">
              	<span>Machineries <br>Equipments</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
    {% endfor %}


    
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Our Project</span>
            <h2>Recent Projects</h2>
          </div>
        </div>

        <div class="row d-flex">
         {% for property in properties %}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="{{ property.image.url }}" class="work block-20 rounded icon image-popup d-flex justify-content-center align-items-center" style="background-image: url({{ property.image.url }});">
               <span class="icon-expand"></span>
              </a>
              <div class="text mt-3 text-center">
              	<div class="meta mb-2">
                  <div><a href="#"><span class="icon-square"></span> {{ property.sqft }} sqft</a></div>
                  <div><a href="#"><span class="icon-bed"></span> {{ property.room }}</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-bath"></span> {{ property.shower }}</a></div>
                  <div><a href="#" class="meta-chat" style="color: green"><span class="icon-money"></span> {{ property.price }}</a></div>
                </div>
                <h3 class="heading"><a href="#">{{ property.description }}</a></h3>
              </div>
            </div>
          </div>
       </div>
          {% endfor %}
      </div>
    </section>
		

    {% endblock %}